<div class="input-field">
  <select class="browser-default">
    <option disabled selected>{{template}}</option>
    {{#each values as |value|}}
      <option {{action "select" value on="mouseUp"}}>{{value}}</option>
    {{/each}}
  </select>
</div>
