<h1>Mis Calendarios</h1>

<div>
  {{combo-box template="Calendarios" values=(map-by "name" model) onSelected=(action 'mostrarAnios')}}
</div>

{{#if aniosOK}}
<div>
  {{combo-box template="Año" values=(numbersBetween 1980 2030) onSelected=(action 'saludar')}}
</div>
{{/if}}

{{#if saludarOK}}
<div>
  ¡HOLAAAAAAA!
</div>
{{/if}}

{{outlet}}
