<center>
  <h1>Mis Calendarios</h1>
</center>

<div class="row">
  <div class="col s6">
    <div class="input-field">
      <select class="browser-default">
        <option disabled selected>Seleccione el calendario deseado</option>
        {{#each model as |calendario|}}
          <option {{action "seleccionar" calendario on="mouseDown"}}>{{calendario.name}}</option>
        {{/each}}
      </select>
    </div>
    <!-- {{view select
        content = model
        optionValuePath="content.id"
        optionLabelPath="content.name"
        selection=idSeleccionado}} -->
  </div>
</div>

<div>
  {{#link-to 'calendarios.feriados' calendarioSeleccionado class="btn btn-primary"}}
    Ver calendario
  {{/link-to}}
</div>

{{outlet}}
